@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&family=Poppins:wght@100;300;500;700&display=swap');



/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Poppins', sans-serif; */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    list-style: none;
   
}

html,
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;

    font-weight: inherit;
    font-style: inherit;

    font-size: 15px;
    overflow-x: hidden;
    

}

img {
    max-width: 100%;
}

input {
    font-family: inherit;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: none;
    border: none
}

a {

    color: inherit;
}

button {
    font-family: inherit;
}

textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: inherit;

}

button {
    background: none;
}
